<div class="calc-wrapper">
    <div class="main-content">
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Full Name</mat-label>
                <input matInput required [(ngModel)]="fullName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [min]="minDateForDOBPicker" [max]="maxDateForDOBPicker" [matDatepicker]="dob"
                    (dateChange)="dobOnChange($event)" required>
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
            </mat-form-field>
            <span style="padding: 18px;"></span>
            <mat-form-field style="max-width: 50px;">
                <mat-label>Age</mat-label>
                <input matInput type="number" [ngModel]="age" disabled>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Death Sum Insured</mat-label>
                <input type="number" matInput min="1" max="999999999" required [(ngModel)]="sumAssured">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Occupation</mat-label>
                <mat-select [(ngModel)]="selectedOccupation" name="occupation"
                    (selectionChange)="validateAndFetchPremium()" required>
                    <mat-option *ngFor="let occupation of occupations" [value]="occupation.id">
                        {{occupation.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>